<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <connectionStrings>
    <!--<add name="LogStar.GenCare.DatabaseConnection" connectionString="Data Source=167.86.66.172;Initial Catalog=DP3FranceUAT;User Id=sa;Password=Pass@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="LogStar.GenCare.DatabaseConnection" connectionString="Data Source=tcp:wdp-dms-test-weu-ven-sql.database.windows.net,1433;Initial Catalog=app_DB;User Id=sqladmin;Password=%6av8KfzrMM9*rQx;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Application Name=ATIN" providerName="System.Data.SqlClient" />-->
    <add name="LogStar.GenCare.DatabaseConnection" connectionString="Data Source=172.16.23.55;Initial Catalog=MNR_V1;User Id=logstar;Password=logstar@123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="FtpUserName" value="MRAPMT"/>
    <add key="FtpPassword" value="Mr1Ap2Mt3"/>
    <add key="FtpUrl" value="ftp://edi.maerskline.com/SATIDUR_in/"/>
    <add key="SFtpUserName" value="logsftp"/>
    <add key="SFtpPassword" value="WednesdaY@56789"/>
    <add key="SFtpUrl" value="sftp://172.16.23.54/MNR/Sagar/"/>
    <add key="Sender" value="codeco@logstarerp.com"/>
    <add key="Password" value="Pass@1234"/>
    <add key="Receiver" value="servicedesk@logstarerp.com"/>
    <add key="smtpURL" value="smtp.office365.com"/>
    <add key="port" value="587"/>
    <add key="LogPath" value="D:\EDITestFolders\ServiceLog\"/>
    <add key="ERRORLOGENABLE" value="D:\EDITestFolders\EDILog\"/>
    <add key="LogFilePath" value="D:\EDITestFolders\ServiceLogFile\"/>
    <add key="TimerInterval" value="600"/>
    <add key="username1" value="codeco@logstarerp.com"/>
    <add key="password1" value="Pass@1234"/>
    <add key="Port1" value="587"/>
    <add key="Smtp1" value="smtp.office365.com"/>
    <add key="username2" value="codeco@logstarerp.com"/>
    <add key="password2" value="Pass@1234"/>
    <add key="Port2" value="587"/>
    <add key="Smtp2" value="smtp.office365.com"/>
    <add key="username3" value="codeco@logstarerp.com"/>
    <add key="password3" value="Pass@1234"/>
    <add key="Port3" value="587"/>
    <add key="Smtp3" value="smtp.office365.com"/>
    <add key="username4" value="codeco@logstarerp.com"/>
    <add key="password4" value="Pass@1234"/>
    <add key="Port4" value="587"/>
    <add key="Smtp4" value="smtp.office365.com"/>
    <add key="CC" value=""/>
    <add key="BCC" value="kedar@timengogdc.com"/>
    <add key="OptionalEmail" value="Y"/>
    <add key="EDIEmailIds" value="kedar@timengogdc.com"/>
    <add key="EdiStorage" value="D:\EDITestFolders\ServiceLog\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="MNRUserName" value="codeco@logstarerp.com"/>
    <add key="MNRPassword" value="Pass@1234"/>
    <add key="MNRPort" value="587"/>
    <add key="MNRSmtp" value="smtp.office365.com"/>
    <add key="MNREdiStorage" value="G:\MNRService\MNRServiceLog\"/>
    <add key="MNRERRORLOGFILE" value="G:\MNRService\MNREDILog"/>
    
    <add key="QueryFolderPath" value="J:\WestimEDI\MNRService\Queries\" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <dataCacheClients>
    <dataCacheClient name="default">
      <autoDiscover isEnabled="true" identifier="[Cache role name or Service Endpoint]"/>
    </dataCacheClient>
  </dataCacheClients>
</configuration>